body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 600px;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #eee;
}

ul {
  list-style: none;
}

.links {
  width: 400px;
  display: flex;
  justify-content: space-betweens;
}

.nav {
  flex: auto;
}