:root {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid #910;
  width: 300px;
  height: 500px;
  border-radius: 3px;
}
