.del-btn {
  float: right;
  overflow: hidden;
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  height: 30px;
  line-height: 30px;
}
.item:hover {
  background-color: #ddd;
}

.todo {
  margin-left: 5px;
}
